{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Lista de Laboratorios</title>
</head>

<body>
    <h1>Información de Laboratorios</h1>
    <a href="{% url 'laboratorio_create' %}" class="action-link">Crear Nuevo Laboratorio</a>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>País</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for laboratorio in page_obj %}
            <tr>
                <td>{{ laboratorio.nombre }}</td>
                <td>{{ laboratorio.ciudad }}</td>
                <td>{{ laboratorio.pais }}</td>
                <td><a href="{% url 'laboratorio_update' laboratorio.pk %}" class="action-link">Actualizar</a></td>
                <td><a href="{% url 'laboratorio_delete' laboratorio.pk %}" class="action-link delete">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Controles de paginación -->
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page=1">Primera</a>
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Última</a>
        {% endif %}
    </div>

    <div class="footer">
        <p>¿Información de los Laboratorios?</p>
        <a href="#">Ir a la página de inicio</a>
        <p>Usted ha visitado esta página {{ visitas }} veces.</p>
    </div>
</body>

</html>